.categories-list,
.goods,
.goods-info {
  float: left;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.categories-list {
  width: 20%;
}

.goods {
  width: 40%;
}

.goods-info {
  width: 35%;
}

.goods-name {
  background-color: rgb(255, 254, 180);
  color: rgb(0, 0, 0);
}
