.main-section {
  display: flex;
  justify-content: flex-start;
}

.categories-list,
.goods,
.goods-info,
.orderFormWrap {
  float: left;
  width: 25%;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.goods-name {
  background-color: rgb(255, 254, 180);
  color: rgb(0, 0, 0);
}
