.headline {
  display: flex;
  justify-content: center;
}

.vote-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vote-block div {
  margin: 0 50px;
}

.face {
  font-size: 36px;
  margin: 10px;
  cursor: pointer;
}

#voteNumber {
  margin-top: 20px;
}

.vote-results {
  padding: 0 20px;
}
