table {
  border: 1px solid;
  width: 370px;
  height: 218px;
}

td,
th {
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.container {
  min-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.border_calendar {
  border: 1px solid;
}

.wrapper_1,
.wrapper_2 {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.weeks {
  background: yellow;
}

.headline {
  text-align: center;
}

.January,
.March {
  padding-right: 10px;
}

.February,
.April {
  padding-left: 10px;
}
